<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
<div class="login-container">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="validateUser()">
    <h2>Accedi</h2>
    <div class="form-group">
      <label for="username">Username</label>
      <input formControlName="username" type="text" id="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input formControlName="password" type="password" id="password" name="password" required>
    </div>
    <button type="submit" class="login-button">Login</button>
    <div class="form-footer">
      <router-outlet></router-outlet>
      Non hai un profilo? <a routerLink="/register">Registrati</a>
    </div>
  </form>
</div>
</body>
</html>
