<div class="image-container">
  <img src="SarabanDeMaCS.PNG" alt="SarabanDeMaCS">
</div>

<div class="button-container">
  <button type="submit" class="scegliTu-button" (click)="scegliTu()">Gioca in modalità "Scegli Tu!"</button>
  <button type="submit" class="completaTu-button" (click)="completaTu()">Gioca in modalità "Completa Tu!"</button>
  <button type="submit" class="record-button" (click)="record()">Visualizza i tuoi record</button>
  <button type="submit" class="logout-button" (click)="exit()">Esci</button>
</div>

