.button-container {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}


.logout-button{
  background-color: red;
}
.logout-button:hover{
  background-color: darkred;
}

button:hover {
  background-color: #0056b3;
}

.image-container {
  height: 50vh;
}


